*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Lato", sans-serif;
    background:linear-gradient(
    to bottom,    
    hsl(174.4deg 100% 29.41%) 15%,
    hsl(80deg 7.69% 84.71%) 85%
    );
}

.flex{
    display: flex;
}

div#app{
    height: 90vh;
    width: 80vw;
    background-color: white;
    
}

/*colonna contatti*/

section.messages-contacts{
    width: 35%;
}



img.picture-contact{
    width: 50px;
    border-radius: 100%;
}

.mycontact{
    padding: .7rem 1rem;
    justify-content: space-between;
    background-color: hsl(0, 0%, 90%);
}

article.picture-name{
    align-items: center;
}

article.picture-name>h3{
    margin-left: 1rem;
}

article.toolbar{
    align-items: center;
}

article.toolbar>i{
    color: hsl(0deg 0% 69.41%);
    margin-right: 1rem;
}

div.contacts>ul{ 
    list-style-type: none;
}


/*colonna chat*/

section.chat-wrapper{
    width: 65%;
}

.contact-chat{
    padding: .7rem 1rem;
    justify-content: space-between;
    background-color: hsl(0, 0%, 90%);
}

article.picture-name>.text{
    margin-left: 1rem;
}

article.picture-name .text>p{
    color: hsl(0deg 0% 69.41%); 
}

article.chat-view{
    
    background-image: url(../img/mine.jpg);
    padding: 3rem 4rem 16.6rem;
}

article.chat-view> .sent{
    flex-direction: column;
    align-items: end;
}

article.chat-view .sent>p{
    background-color: hsl(94.29deg 84% 85.29%);
    margin-bottom: 1rem ;
    border-radius: .7rem;
    padding: 1rem 3rem 1rem 1rem;
}


article.chat-view> .received{
    flex-direction: column;
    align-items: start;
}

article.chat-view .received>p{
    background-color:hsl(0deg 0% 100%);
    margin-bottom: 1rem ;
    border-radius: .7rem;
    padding: 1rem 3rem 1rem 1rem;
}

article.write-message{
    justify-content: space-around;
    background-color: hsl(26.67deg 27.27% 93.53%);
    align-items: center;
    padding: 1rem;
}

article.write-message>input{
   width: 80%;
   padding: 1rem;
   border-radius: .7rem;
   border: transparent;
}

article.write-message>i{
    font-size: 1.5rem;
    color: hsl(22.5deg 3.25% 48.24%);
 }